/* Add any other styles you need for the error page */
.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7;
    color: #333;
  }
  
  .error-heading {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .error-status {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
  }
  